@use "../variables/variables.scss" as variables;
@use "../mixins/mixins.scss" as mixins;

.loginLayout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: variables.$spacing_sm;
    height: 100vh;
    &__container{
        width: 100%;
        max-width: 604px;
        height: 100%;
        max-height: 746px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: variables.$spacing_14xl;
        border-radius: variables.$spacing_4xl;
        background: url('/images/background_mini.svg');
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: variables.$shadow-20;
    }
}