@use "../variables/variables.scss" as variables;
@use "../mixins/mixins.scss" as mixins;

.registerLayout {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    &__header {
        width: 100%;
        height: 82px;
        background-color: variables.$white-100;
        border: 1px solid variables.$black-10;
        padding: variables.$spacing_sm variables.$spacing_lg;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}