// BLACK
$black-100: #000000;
$black-50: #00000080;
$black-20:  #0C0C0D1A;
$black-10:  #0C0C0D0D;
$black-5: #0000001A;

// GRAY
$gray-50:  #8A8A8A;
$gray-40:  #929292;
$gray-30: #B3B3B3;
$gray-20: #D9D9D9;
$gray-10:  #F6F6F6;

// BLUE
$blue-100: #2C235C;
$blue-60: #017BE01A;
$blue-40: #017BE0;
$blue-30:  #0177C2;

// WHITE
$white-100: #FFFFFF;
$white-90:  #F5F5F5;
$white-80: #F9F9F9;

// RED
$red-100: #BB0003;

// GREEN
$green-100: #0F6E00;
$green-10:  #00FF2B;

// ORANGE
$orange-100: #FF5900;