$spacing_4xs: 2px;
$spacing_3xs: 4px;
$spacing_2xs: 8px;
$spacing_xs: 12px;
$spacing_sm: 16px;
$spacing_md: 20px;
$spacing_lg: 24px;
$spacing_xl: 28px;
$spacing_2xl: 32px;
$spacing_3xl: 36px;
$spacing_4xl: 40px;
$spacing_5xl: 44px;
$spacing_6xl: 48px;
$spacing_7xl: 52px;
$spacing_8xl: 56px;
$spacing_9xl: 60px;
$spacing_10xl: 64px;
$spacing_11xl: 68px;
$spacing_12xl: 72px;
$spacing_13xl: 76px;
$spacing_14xl: 80px;