$typography: (
    // H
    bold_h: (weight: 700,
        size: 40px,
        px: 40,
        line-height: normal,
    ),
    semibold_h: (weight: 600,
        size: 40px,
        px: 40,
        line-height: normal,
    ),
    medium_h: (weight: 500,
        size: 40px,
        px: 40,
        line-height: normal,
    ),
    regular_h: (weight: 400,
        size: 40px,
        px: 40,
        line-height: normal,
    ),
    // B2
    bold_b2: (weight: 700,
        size: 20px,
        px: 20,
        line-height: normal,
    ),
    semibold_b2: (weight: 600,
        size: 20px,
        px: 20,
        line-height: normal,
    ),
    medium_b2: (weight: 500,
        size: 20px,
        px: 20,
        line-height: normal,
    ),
    regular_b2: (weight: 400,
        size: 20px,
        px: 20,
        line-height: normal,
    ),
    // B1
    bold_b1: (weight: 700,
        size: 16px,
        px: 16,
        line-height: normal,
    ),
    semibold_b1: (weight: 600,
        size: 16px,
        px: 16,
        line-height: normal,
    ),
    medium_b1: (weight: 500,
        size: 16px,
        px: 16,
        line-height: normal,
    ),
    regular_b1: (weight: 400,
        size: 16px,
        px: 16,
        line-height: normal,
    ),
    // B0
    bold_b0: (weight: 700,
        size: 14px,
        px: 14,
        line-height: normal,
    ),
    semibold_b0: (weight: 600,
        size: 14px,
        px: 14,
        line-height: normal,
    ),
    medium_b0: (weight: 500,
        size: 14px,
        px: 14,
        line-height: normal,
    ),
    regular_b0: (weight: 400,
        size: 14px,
        px: 14,
        line-height: normal,
    ),
    // SD
    bold_sd: (weight: 700,
        size: 12px,
        px: 12,
        line-height: normal,
    ),
    semibold_sd: (weight: 600,
        size: 12px,
        px: 12,
        line-height: normal,
    ),
    medium_sd: (weight: 500,
        size: 12px,
        px: 12,
        line-height: normal,
    ),
    regular_sd: (weight: 400,
        size: 12px,
        px: 12,
        line-height: normal,
    ),
);