@forward "./register/data.scss";
@forward "./register/passkey.scss";
@forward "./register/otp.scss";
@forward "./register/ask-antispoofing.scss";
@forward "./register/antispoofing.scss";
@forward "./login/start.scss";
@forward "./login/password.scss";
@forward "./home/profile.scss";