@use "../variables/variables.scss" as variables;
@use "../mixins/mixins.scss" as mixins;
@use "sass:map";

button {
    cursor: pointer;
}

.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: variables.$spacing_2xs;
    padding: variables.$spacing_md variables.$spacing_sm;
    border-radius: variables.$spacing_sm;
    height: 56px;
    width: 100%;
    min-width: 180px;
    max-width: fit-content;

    @include mixins.media('>tablet') {
        min-width: 248px;
        max-width: fit-content;
    }

    @each $type,
    $styles in variables.$buttons {
        &.button__#{$type} {
            background-color: map.get($styles, background);
            border: none;
            color: map.get($styles, color);
            text-decoration: none;
            @include mixins.typography(bold_b1);

            &:disabled {
                background-color: map.get($styles, background-disabled);
                border: none;
                color: map.get($styles, color-disabled);
                & img {
                    filter: brightness(0.7);
                }
            }
            &:hover {
                transform: scale(0.98);
            }
        }
    }
}