@use "../variables/variables.scss" as variables;
@use "../mixins/mixins.scss" as mixins;

.dialog {
    margin: 0;
    padding: 0;
    border: none;
    display: none;
    &.open {
        display: block;
    }
    &_backdrop{
        background-color: variables.$black-50;
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        backdrop-filter: blur(24px)
    }
    &__content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 499px;
        z-index: 1;
        background-color: variables.$white-100;
        border-radius: variables.$spacing_2xs;
        padding: variables.$spacing_lg;
        &.large {
            max-width: 672px;
        }
    }
}