@use "../variables/variables.scss" as variables;
@use "../mixins/mixins.scss" as mixins;

.stepper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__step {
        display: flex;
        flex-direction: column;
        gap: variables.$spacing_sm;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 200px;
        height: 76px;

        &:not(:first-child)::before {
            content: '';
            width: 100%;
            height: 2px;
            background-color: variables.$gray-30;
            position: absolute;
            top: 18px;
            right: 50%;
            z-index: -1;
        }

        &.active {
            .stepper__number {
                color: variables.$white-100;
                border: 2px solid variables.$blue-40;
                background-color: variables.$blue-40;
            }

            .stepper__label {
                color: variables.$blue-40;
            }
            &:not(:first-child)::before {
                background-color: variables.$blue-40;
            }
        }
    }

    &__number {
        @include mixins.typography(medium_b0);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: variables.$white-100;
        display: flex;
        justify-content: center;
        align-items: center;
        color: variables.$gray-30;
        border: 2px solid variables.$gray-30;
    }

    &__label {
        @include mixins.typography(semibold_sd);
        color: variables.$gray-30;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}