@use '../../variables/variables.scss' as variables;
@use '../../mixins/mixins.scss' as mixins;

.Antispoofing {
  @include mixins.basic-register-step;
  &__container {
    width: 100%;
    max-width: 292px;
    height: 370px;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;
    border: 6px solid variables.$black-10;
    &.error {
      border: 6px solid variables.$red-100;
    }
    &.success {
      border: 6px solid variables.$green-100;
    }
  }
  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scaleX(-1);
  }
}
