@use "../../variables/variables.scss" as variables;
@use "../../mixins/mixins.scss" as mixins;

.StepData {
    @include mixins.basic-register-step;
    &__form {
        display: flex;
        flex-direction: column;
        gap: variables.$spacing_2xl;
        margin-top: variables.$spacing_sm;
        justify-content: center;
        align-items: center;
    }
}