@use "../../variables/variables.scss" as variables;
@use "../../mixins/mixins.scss" as mixins;

.StepPasskey {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing_lg;
    margin: variables.$spacing_14xl auto 0;
    width: 100%;
    max-width: 604px;
    &__title {
        @include mixins.typography(bold_h);
        color: variables.$black-100;
        text-align: center;
    }
    &__subtitle {
        @include mixins.typography(regular_b1);
        color: variables.$black-100;
        text-align: center;
        & strong {
            @include mixins.typography(semibold_b1);
        }
    }
}