@use '../variables/variables.scss' as variables;
@use './typography.scss' as typography;

@mixin basic-register-step {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing_lg;
  margin-top: variables.$spacing_14xl;
  &__title {
    @include typography.typography(bold_h);
    @include typography.typography(bold_h);
    color: variables.$black-100;
    text-align: center;
  }
  &__subtitle {
    @include typography.typography(regular_b1);
    color: variables.$black-100;
    text-align: center;
    & strong {
      @include typography.typography(semibold_b1);
    }
  }
  &__button {
    margin: variables.$spacing_2xs auto 0;
  }
  &__modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: variables.$spacing_xl;
    gap: variables.$spacing_2xs;
    &__title {
      @include typography.typography(semibold_b2);
      color: variables.$black-100;
      text-align: center;
    }
    &__subtitle {
      @include typography.typography(regular_b1);
      color: variables.$black-100;
      text-align: center;
    }
    &__image {
      width: 100%;
      max-width: 100px;
      margin-bottom: variables.$spacing_sm;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    margin: variables.$spacing_sm auto 0;
    object-fit: contain;
  }
}
