@use '../variables/variables.scss' as variables;
@use './typography.scss' as typography;

@mixin basic-login-step {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: variables.$spacing_2xl;
    & .button {
       max-width: 100%;
    }
    &_logo {
        margin: 0 auto;
        max-width: 180px;
        width: 100%;
        margin-bottom: variables.$spacing_md;
    }
    &__title {
        @include typography.typography(bold_h);
        color: variables.$black-100;
        text-align: center;
        margin-bottom: variables.$spacing_sm;
    }
    & .button__link {
        margin-top: variables.$spacing_sm;
    }
}
